body {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.verse {
  margin-bottom: 20px;
}

.verse span:first-child {
  font-weight: bold;
  margin-right: 10px;
}

.verse span:nth-child(2) {
  text-transform: uppercase;
  margin-right: 10px;
}
  