body {
    height: 100%;
    background-color: rgb(46, 65, 58); /* set background color of body element to light peach */
}

h1 {
    position: relative; 
    color: #fffefe; 
    font-family: orbitron;
    font-style: oblique;
    font-size: 45px;
}

div {
    position: absolute; /* position div elements absolutely */
    height: 80%; 
    width: 37%; 
    top: 100px; 
}

#div0 {
    background-color: #ff2f55;  /* set background color of div0 element to light pink */
    border-color: #ffffff; 
    border-style: solid; 
    margin-left: 10%;
    
}

#div1 {
    background-color: #ff2f55; 
    border-color: #ffffff; 
    border-style: solid; 
    margin-left: 50%; 
}

span {
    position: fixed; /* position span elements fixed to the viewport */
    background-color: #4e7463; 
    border-color: #2c2828; 
    border-style: solid; 
    font-size: 15px;
    font-family: orbitron;
    padding: 5px; /* set padding of span elements to 5 pixels */
}
