body {
    height: 100%;
    background-color: rgb(116, 155, 128); /* set background color of body element to light peach */
}

h1 {
    position: relative; 
    color: #843232; 
    font-family: orbitron;
}

div {
    position: absolute; /* position div elements absolutely */
    height: 80%; 
    width: 37%; 
    top: 100px; 
}

#div0 {
    background-color: #83303f; /* set background color of div0 element to light pink */
    border-color: #3f3838; 
    border-style: solid; 
    margin-left: 10%;
    
}

#div1 {
    background-color: #83303f; 
    border-color: #3f3838; 
    border-style: solid; 
    margin-left: 50%; 
}

span {
    position: fixed; /* position span elements fixed to the viewport */
    background-color: #588c85; 
    border-color: #000; 
    border-style: solid; 
    font-size: 15px;
    font-family: orbitron;
    padding: 5px; /* set padding of span elements to 5 pixels */
}
